.menu-desk {
    display: none;
}


nav {
    padding: 16px;
    background-color: #1B2653;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}


nav .logo {
    width: 150px;
}


@media screen and (min-width: 954px) {
    .menu-desk {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    
    .menu-desk a {
        color: var(--branco);
        text-align: center;
        text-decoration: none;
        align-self: center;
        padding: 5px;
    }

    #cadastre {
        border-radius: 30px 30px 30px 30px;
        padding: 10px;
        margin-left: 50px;
    }

}